---
import '../styles/global.css';  // <--- ¡Esta es la línea clave!
import '@fontsource/krona-one';
import '@fontsource/poppins';  //
import '@fontsource/roboto-mono';
import Navbar from '../components/Navbar.astro';
import NavBarMobile from '../components/NavBarMobile.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import Section from '../components/Section.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicolas Diaz-Analista programador</title>
	</head>
	<body>
		<div class="hidden md:block">
        <Navbar/>
    </div>

    <div class="md:hidden">
        <NavBarMobile />
    </div>
		<Hero />
		<Section/>
		<Experience />
		<Education />
		
		<Skills />
		<Projects />
		<Contact />
		<Footer />
		
		
		
	</body>
</html>
