---
import SocialNetworks from "./SocialNetworks.astro"
---


<section id="contacto" class="min-h-[80vh] bg-base-200 py-10">
    <div class="container mx-auto px-4 max-w-4xl">
        <h2 class="text-xl md:text-2xl font-bold font-krona text-center mb-10">CONTACTO</h2>
        <div class="flex flex-col lg:flex-row gap-8">
            <div class="flex flex-col lg:w-1/2">
                <p class="text-xl md:text-2xl font-krona mb-10">¿Tenes un proyecto en mente? Hablemos.</p>
                <SocialNetworks />
                
                
            </div>
            <div class="mt-6 lg:mt-0 lg:w-1/2">
                <form action="https://formspree.io/f/xvzgejyb" method="POST" class="flex flex-col gap-4" id="contact-form">
                    <div>
                        <label for="name" class="block mb-1 font-semibold">Nombre:</label>
                        <input type="text" id="name" name="name" required class="input input-bordered w-full" />
                    </div>
                    <div>
                        <label for="email" class="block mb-1 font-semibold">Email:</label>
                        <input type="email" id="email" name="email" required class="input input-bordered w-full" />
                    </div>
                    <div>
                        <label for="message" class="block mb-1 font-semibold">Mensaje:</label>
                        <textarea id="message" name="message" rows="5" required class="textarea textarea-bordered w-full"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <p id="form-status" class="hidden text-green-500 mt-2">¡Mensaje enviado con éxito!</p>
                    </div>
                </form>
        </div>

    </div>
</section>

<script>
  const form = document.getElementById('contact-form');
  const status = document.getElementById('form-status');

  form.addEventListener('submit', async (e) => {
    e.preventDefault(); // Evita que la página se recargue
    const data = new FormData(form);

    try {
      const response = await fetch(form.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      });

      if (response.ok) {
        status.classList.remove('hidden'); // Muestra el mensaje
        form.reset(); // Limpia los campos
      } else {
        alert("Hubo un error al enviar el mensaje.");
      }
    } catch (error) {
      alert("Error de conexión.");
    }
  });
</script>