<section id="educacion" class="min-h-[80vh] bg-base-200 py-20">
  <div class="container mx-auto px-4 max-w-4xl">
    
    <h2 class="text-xl md:text-2xl font-bold font-krona text-center mb-10">FORMACIÓN</h2>
    <div class="card bg-base-100 shadow-xl border-l-4 border-primary mb-8">
      <div class="card-body">
        <div class="flex justify-between items-start">
            <div>
                <h3 class="text-2xl font-krona text-white">Tecnicatura Universitaria en Administración de Redes Informáticas</h3>
                <p class="text-lg font-semibold opacity-90">Facultad de Ciencias Exactas - UNICEN</p>
            </div>
            
        </div>
        <p class="mt-4 opacity-70">
           2026-2027
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl border-l-4 border-primary mb-8">
      <div class="card-body">
        <div class="flex justify-between items-start">
            <div>
                <h3 class="text-2xl font-krona text-white">Tecnicatura Superior en Análisis, Desarrollo y Programación de Aplicaciones</h3>
                <p class="text-lg font-semibold opacity-90">ISFDyT Nº 166</p>
            </div>
            
        </div>
        <p class="mt-4 opacity-70">
           2023-2025
        </p>
      </div>
    </div>

    <h3 class="text-xl md:text-2xl font-krona text-center mb-10">
        <span class="text-primary">#</span> CURSOS Y CERTIFICACIONES
    </h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow">
            <div class="card-body p-6">
                <h4 class="font-bold">CURSO BASES DE DATOS SQL</h4>
                <p class="text-sm opacity-60">Maxiprograma - <a href="https://drive.google.com/file/d/1hrysWSh3D-YUn_QZCyN6iMLzPM2eF9TD/view?usp=sharing" target="_blank" class="text-blue-500 hover:underline">Certificado</a></p>
            </div>
        </div>
        <div class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow">
            <div class="card-body p-6">
                <h4 class="font-bold">C# Nivel 3 (ASP.NET)</h4>
                <p class="text-sm opacity-60">Maxiprograma - <a href="#" target="_blank" class="text-blue-500 hover:underline">Certificado</a></p>
            </div>
        </div>

        <div class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow">
            <div class="card-body p-6">
                <h4 class="font-bold">C# Nivel 2 (POO + NET + SQL)</h4>
                <p class="text-sm opacity-60">Maxiprograma - <a href="https://drive.google.com/file/d/1Us94TwREZSMjMFtronzSOM6O98mGzE2C/view?usp=sharing" target="_blank" class="text-blue-500 hover:underline">Certificado</a></p>
            </div>
        </div>
        <div class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow">
            <div class="card-body p-6">
                <h4 class="font-bold">C# Nivel 1</h4>
                <p class="text-sm opacity-60">Maxiprograma - <a href="https://drive.google.com/file/d/1MLEWb81hbAH7YDDspPJ1ZCaXjKv9czHh/view?usp=sharing" target="_blank" class="text-blue-500 hover:underline">Certificado</a></p>
            </div>
        </div>
        <div class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow">
            <div class="card-body p-6">
                <h4 class="font-bold">Codo a codo 4.0 - Testing QA & Automatización</h4>
                <p class="text-sm opacity-60">CAC - <a href="https://drive.google.com/file/d/1cSOsWK4l65O1tpQLighY7y_5wMgJYsmR/view?usp=sharing" target="_blank" class="text-blue-500 hover:underline">Certificado</a></p>
            </div>
        </div>
    </div>

  </div>
</section>