<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="public/TEST.jpg"
      class="w-64 max-w-xs rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-5xl font-bold">HOLA! 👋</h1>
      <h2 class="text-5xl font-bold">SOY NICOLAS DIAZ</h2>
      <p class="py-6">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>