<div class="min-h-screen hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="public/TEST.jpg"
      class="w-64 max-w-xs rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-4xl font-bold font-krona mb-2 mb-1">HOLA! 👋</h1>
      <h2 class="text-4xl font-bold font-krona mt-2 mb-1">SOY NICOLAS DIAZ</h2>
      <span class="badge badge-lg bg-gradient-to-r from-blue-600 to-purple-600 text-white border-none"> BACKEND DEVELOPER | .NET</span>
      <p class="text-lg max-w-1xl mx-auto py-6 mb-2">
        Estudiante avanzado de Analisis, desarrollo y programación de aplicaciones. <br>
        Te doy la bienvenida a este espacio, donde comparto proyectos y experiencias sobre mi trayecto de formación.
      </p>
     
    </div>
  </div>
</div>