<div class="navbar bg-base-100 shadow-sm">
  
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">DIAZdev</a>
  </div>
  <div class="flex flex-1 justify-end">
   <button class="btn btn-ghost">Sobre mi</button>
   <button class="btn btn-ghost">Formación</button>
   <button class="btn btn-ghost">Proyectos</button>
   <button class="btn btn-ghost">Contacto</button>
  </div>
</div>