<section id="sobre-mi" class=" min-h-[80vh] bg-base-200 py-20 bg-white-900">
  
  <div class="container mx-auto px-4">
    
    <h2 class="text-xl md:text-2xl font-bold font-krona text-center mb-10">
      SOBRE MÍ
    </h2>

    <div class="max-w-3xl mx-auto text-lg font-sans  leading-relaxed text-white">
      <p class="mb-1">
        Soy Nicolás, de la ciudad de Tandil, estudiante avanzado de la Tecnicatura Superior en Análisis, Desarrollo y Programación de Aplicaciones en el ISFDyT Nº 166.<br>
         Mi ingreso al mundo de la tecnología comenzó de forma autodidacta, pero con un rumbo claro. A través de la propuesta de Maxiprograma, pude encontrar una ruta de aprendizaje estructurada dentro del ecosistema <strong>.NET</strong>.<br> 
        Esto me permitió construir bases sólidas desde los fundamentos, la programación orientada a objetos, hasta el manejo de bases de datos y desarrollo web.
      </p>
      <p class="mb-1">
A su vez, mi formación académica fue clave para complementar este perfil técnico, permitiéndome no solo incorporar nuevas herramientas, sino también comprender el ciclo de vida del software y la importancia del trabajo en equipo.</p>
    </div>

  </div>
</section>