<section id="sobre-mi" class=" min-h-screen bg-base-200 py-20">
  
  <div class="container mx-auto px-4">
    
    <h2 class="text-3xl md:text-4xl font-bold font-krona text-center mb-10">
      SOBRE MÍ
    </h2>

    <div class="max-w-3xl mx-auto text-lg font-sans  leading-relaxed text-white">
      <p class="mb-1">
        Soy Nicolás, de la ciudad de Tandil, actualmente me encuentro finalizando la Tecnicatura Superior en Análisis, Desarrollo y Programación de Aplicaciones en el ISFDyT Nº 166.<br>
         Mi ingreso al mundo de la tecnología comenzó de forma autodidacta, pero con un rumbo claro. A través de la propuesta de Maxiprograma, seguí una ruta de aprendizaje estructurada dentro del ecosistema <strong>.NET</strong>.<br> 
        Esto me permitió construir bases sólidas escalonadas: desde los fundamentos y la programación Orientada a objetos, hasta el manejo de bases de datos y desarrollo web.
      </p>
      <p class="mb-1">
A su vez, mi formación académica fue clave para complementar este perfil técnico, permitiéndome no solo incorporar nuevas herramientas, sino también comprender el ciclo de vida del software y la importancia vital del trabajo en equipo      </p>
    </div>

  </div>
</section>